<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>changed</key>
	<dict>
		<key>name</key>
		<string>JS Tools</string>
		<key>ordering</key>
		<array>
			<string>1798306B-F9D7-4D71-9B30-5D80A7125514</string>
			<string>9505C865-9905-4A74-A4E7-4BB0FBA56675</string>
		</array>
	</dict>
	<key>deleted</key>
	<array/>
	<key>isDelta</key>
	<true/>
	<key>uuid</key>
	<string>614ECAF5-DAE0-4979-BAC5-7C6EB49E34F5</string>
</dict>
</plist>
